body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.clock {
    align-items: center;
    background-color: #6e4274;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.time {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
    

}

.date-time {
    color: rgb(226, 180, 119);
    font-size: 30px;
    text-align: center;
}

@media  screen and (max-width:786px) {
    .time {
        font-size: 60px;
    }
    
}