body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.clock {
    align-items: center;
    background-color: #69476e;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.time {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
    

}

.date-time {
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
}

@media  screen and (max-width:786px) {
    .time {
        font-size: 60px;
    }
    
}